html, body {
    margin: 0px;
    font-family: sans-serif;
    height: 100%;
}

.container {
    height: 100%;
}

.header {
    height: 50px;
    background-color: #efefef;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
}

.firstHeaderElement, .secondHeaderElement, .thirdHeaderElement, .fourthHeaderElement, .fifthHeaderElement  {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.firstHeaderElement:hover, .secondHeaderElement:hover, .thirdHeaderElement:hover, .fourthHeaderElement:hover, .fifthHeaderElement:hover{
    background-color: lightgrey;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentHeader {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contentInfo {
    display: flex;
    flex-direction: row;
}

.contentText {
    display: flex;
    max-width: 66%;
    padding-left: 2%;
    padding-right: 2%;
}

.contentTable {
    display: flex;
    padding-left: 2%;
    max-width: 33%;
    padding-right: 2%;
}

.footer {
    height: 150px;
    margin-top: -200px;
    background-color: #282828;
    color: #f2f2f2;
}

